.general_form{
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
    background-color: RGBA(255,255,255,0.25);
    margin-left: 33%;
}
.general_form_head{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 50px;
    font-size: 25px;
    padding-bottom: 3px;
    color: #fff;
}
.general_form label{
    display: block;
    margin: 0px 0px 15px 0px;
}
.general_form label > span{
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
    color: #fff;
}
.general_form span.required{
    color:red;
}
.general_form input.input_field{
    width: 50%;
}

.general_form input.input_field{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
.general_form  .input_field:focus{
    border: 1px solid #0C0;
}
.general_form input[type=submit]{
    border: 1px solid rgba(255,255,255,0.5);
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    margin: 20px 15px 8px 15px;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.general_form input[type=submit]:hover{
    background: #EA7B00;
    color: #fff;
}
