
body {
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: center;
}

html {
	background: url(/sebin/t/s/computers.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
  font-family: 'Sans', sans-serif;
	font-size: 48px;
	color: #FFF;
	text-align: center;
	position: fixed;
	top: 100px;
	right: 50%;
	margin-right: -250px;
	width: 500px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.container {
	height: 100%;
	padding: 250px 0;
	margin: 30px;
	text-shadow: 0 2px #000000;
	font-family: 'Trebuchet MS', 'Helvetica';
}

/*NAVIGATION BAR STARTS HERE*/
#nav-items {
	background-color: rgba(255, 255, 255, .5);
	height: 60px;
	position: fixed;
	top: 10px;
	left: 20px;
}

.table {
	display: table;
	margin: 0 auto;
	height: 100%;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 10px;
	}
	ul#horizontal-list li {
		display: inline;
		font-size: 30px;
		font-family: 'Sans', sans-serif;
	}
	ul#horizontal-list a { text-decoration: none; color: #fff; padding: 11px 26px 14px 26px; }
	ul#horizontal-list a:active { background-color: #4CAF50; color: #fff; }
	ul#horizontal-list a:visited { text-decoration: none; color: #fff; }
	ul#horizontal-list a:hover { text-decoration: none; background-color: rgba(255, 255, 255, .75); color: #000; }
/*NAVIGATION BAR END*/


p {
	color: #ffffff;
	font-size: 2em;
}

#footer {
	color: DarkSlateGray;
	font-size: 16px;
}
