/*
* {
	border: 1px dashed red;
}
*/

body {
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
  font-family: 'Sans', sans-serif;
	font-size: 32px;
	color: aqua;
}

h2 {
	color: aqua;
	font-size: 56px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#nav-items {
	background-color: rgba(500, 500, 500, .5);
	height: 84px;
}

.table {
	display: table;
	margin: 0 auto;
	height: 100%;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
		font-size: 30px;
		padding: 0px 30px 0px 30px;
		font-family: 'Sans', sans-serif;
	}
	ul#horizontal-list a { text-decoration: none; color: aqua; }
	ul#horizontal-list a:hover { background-color: rgba(100, 200, 500, .5); color: black; }
	ul#horizontal-list a:active { background-color: #4CAF50; color: white; }
	ul#horizontal-list a:visited { text-decoration: none; color: aqua; }
/*
#nav-items a {
	float: center;
	color: rgb();
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
*/


.container {
	background-image: url('images/computers.jpg');
	background-position: center top;
	background-size: cover;
	padding: 250px 0;
	margin: 30px;
	text-shadow: 0 2px #000000;
	font-family: 'Trebuchet MS', 'Helvetica';
}

p {
	color: #ffffff;
	font-size: 2em;
}

#footer {
	color: DarkSlateGray;
	font-size: 16px;
}
